/* DESN 340 Project 1 Part 5 CSS */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.group {
	content: " ";
	display: table;
	clear: both;
}

header {
	background-image: url(https://static.vecteezy.com/system/resources/previews/002/303/221/original/happy-halloween-s-cute-background-pattern-free-vector.jpg);
	height: 80px;	
	background-size: cover;
	background-position: center;
}



body {
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/3849ee44562681.58168477aea95.gif);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0, .5);
}

.card-img-top {
	margin: 10px 0px 10px 0px;
}

.row {

}

.style {

}

section {
	margin: 30px;
}


nav {
	float: left;
	padding: 10px 30px;
	text-align: center;
	margin-left: 680px;
}

.btn {
	border-radius: 30px;
	padding: 5px 30px;
	margin: 15px 5px 0px 5px;
	color: #fff;
}

.carousel-item img{
	object-fit: cover;
	object-position: center;
	height: 70vh;
	overflow: hidden;
}

#spider {
	object-fit: cover;
	object-position: top;
	height: 70vh;
	overflow: hidden;
}


.card {
	margin: 30px auto;
	background-color: orange;
	color: black;
}

.btn-primary {
	background-color: #000;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

.btn-primary:hover {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	color: black;
}





