/* Css style sheet oct 19 office hours */


/*universal rules*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

img {
		max-width: 100%;
}

/* layout classes and rules*/

body {
	position: relative;
	width: 100%;
	height: 550px;
	background-image: url("https://images.unsplash.com/photo-1516641051054-9df6a1aad654?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2560&q=80");
	background-position: center;
	background-size: cover;
}


#blurb {
	font-size: 1em;
	font-family: helvetica;
	color: #fff;
	background-color: black;
	padding: 50px;
	text-align: left;
}

.button{
	position: relative;
	top: 425px;
	right: 500px;
	max-width: 175px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-family: helvetica;
}

.button2 {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
	background-color: black;
	padding: 30px;
	border-radius: 12px;
  margin: 70px;
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: black; 
  color: white;
 }

.test-grid {
	display: grid;
	width: 1170px;
	margin: 0 auto;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	height: 90vh;
}

#image6{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	max-width: 250px;
	margin-left: 25px;
	margin-top: 30px;
}

#image2 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 30px;
	margin-top: 30px;
}

#image3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 30px;
	margin-top: 30px;
}

#blurb {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	margin-left: 30px;
	margin-top: 30px;
}

#image4 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-left: 30px;
	margin-top: 30px;
	z-index: 1;
}

#image5 {
	grid-column-start: 2;
	grid-row-start: 2;
	width: 215px;
	margin-left: 30px;
	margin-top: 30px;
	border-style: solid;
	border-width: 8px;
	border-color: #fff;
}
















